/*this code work to scrollbar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgba(0,0,0,0);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--secundary-color);
}

:root{
    --primary-color: #e96d50;
    --secundary-color: #E9C650;
    --tertiary-color: #B2B1B1;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    min-width: 320px;
}

header{
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 320px;
    height: 6rem;
    background-color: var(--primary-color);
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.nav_logo{
    background-image: url(../imgs/IPAD.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18rem;
    width: 18rem;
    height: auto;
}

#menu-icon{
    width: 27px;
    height: 27px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-right: 4rem;
    margin-top: 1.5rem;
}

#menu-icon span,
#menu-icon span:before,
#menu-icon span:after{
    background: white;
    display: block;
    height: 4px;
    position: absolute;
    
    transition: all 300ms ease;
}

#menu-icon span:before,
#menu-icon span:after{
    content: '';
}

#menu-icon span{
    right: 0px;
    top: 13px;
    width: 27px;
}

#menu-icon span:before{
    left: 0px;
    top: -10px;
    width: 27px;
}

#menu-icon span:after{
    left: 0px;
    top: 10px;
    width: 27px;
}

#menu-icon.close span{
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: white;
}


#menu-icon.close span:before{
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: white;
}

#menu-icon.close span:after{
    top: 0px;
    left: 0px;
    transform: rotate(90deg);
    width: 27px;
    opacity: 0;
}


#menu{
    z-index: 1;
    min-width: 100%;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    padding-top: 30px;
    visibility: hidden;
    transition: all 300ms ease; 
}

#menu ul{
    width: 100%;
    height: 100vh;
}

#menu.show{
    opacity: 1;
    visibility: visible;
    padding-top: 130px;
    background: var(--primary-color);
}

#menu li{
    font-family: Helvetica, sans-serif;
    
    list-style: none;
    position: relative;
    width: 300px;
    margin: auto;
    padding: 2.5rem 1rem;
}

#menu li:hover{
    letter-spacing: 4px;
}

#menu li a{
    color: white;
    display: block;
    font-size: 3.2rem;
    text-decoration: none;
    margin-bottom: 30px;
    position: relative;
    transition: all 300ms;
}

#menu li a:hover:before{
    opacity: 1;
    transform: scale(1);

}
