:root{
    --primary-color: #e96d50;
    --secundary-color: #;
    --tertiary-color: #;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 320px;
    height: 6rem;
    background-color: var(--primary-color);
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.nav_logo{
    background-image: url(../imgs/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12rem;
    width: 18rem;
    height: auto;
}

.menu-icon{
    background-image: url(../imgs/icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4rem;
    width: 12rem;
    height: auto;


}

.menu-options{
    background-color: var(--primary-color);
    opacity: 0.8;
    /*filter: blur(4px);*/

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    font-size: 2rem;
    height: 100%;

    left: 100%;
    transition: left 0.3s;

    /*height: calc(100% - 6rem);
    /*height: 100%;
    font-size: 2rem;
    overflow-y: auto;*/
}

ul li a:hover,
ul li .menu-link_active {
    background-color: var(--primary-color);
    transition: 0.2s;
    color: #a12b10;
}



.menu-options li {
    border: blue solid 1px;
    width: max-content;
    display: flex;

    margin: 4rem 0rem;

    
}

.menu-options li a{
    display: block;
    text-decoration: none;
    padding: 20px 0;
    color: white;
}

.nav-menu_visible{
    left: 0;
}

main{
    padding-top: 6rem;

    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-bgimg{
    background-image: url(../imgs/foto1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260%;

    width: 100%;
    height: 61.5rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-land1{
    width: 100%;
    height: 31rem;
    color: white;

    text-align: center;
    font-size: 3rem;
    font-weight:bolder;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:flex-end;
}

.main-land2{
    width: 100%;
    height: 13rem;

    align-items: center;
    font-weight:lighter;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main-land2 .btn-ver{
    width: 20rem;
    height: 5rem;
    padding-top: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: white;

    text-align: center;
    text-decoration: none;

    font-size: 2.5rem;
    cursor: pointer;
}

.main-land2 .btn-ver:hover{
    background-color: #f89a85;
    transition: 0.2s;
}

.second{
    width: 100%;
    height: auto;
    padding: 2rem 4.1rem;
}

.second .second-head{

    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
    color: #e96d50;
    
}

.second .second-body{

    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.imggg{
    width: 100%;
    height: auto;
}

.third{
    width: 100%;
    height: auto;
    padding: 2rem 4.1rem;
}

.third .third-head{

    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
    color: #e96d50;
    
}

.third .third-body{

    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.fourth{
    width: 100%;
    height: auto;
    padding: 2rem 4.1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;    
}

.fourth img{
    width: 8rem;
    height: auto;  
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fourth-head{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;

    color: dimgray;
}

.img3{
    width: 100%;
    height: auto;
}

.fifth{
    width: 100%;
    height: auto;
    border: #8e2bff solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fifth p{
    width: 100%;
    text-align: center;
    align-items: center;
}

form{
    background: #fae6e1;
    height: auto;
}

.form{
    width: 100%;
}

form .grupo{
    position: relative;
    margin: 35px;

}

input{
    background: none;
    color:black;
    font-size: 2rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

input:focus{
    outline: none;
    color: #808080;
}

label{
    color: #808080;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.4s ease-in-out all;
    pointer-events: none;
}

input:focus~label{
    top: -14px;
    font-size: 12px;
    color: var(--primary-color);
}

footer{
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    color: white;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    text-align: center;

}

footer .footer-logo{
    width: 20rem;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

footer .footer-p1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

footer .footer-p2{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer .footer-p3{
    width: 100%;
    font-size: 2rem;
    font-weight:lighter;
    margin-bottom: 3rem;
}

footer .footer-icons{
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
}

footer .footer-icons a{
    text-decoration: none;
}

.footer-icons img{
    width: 2.5rem;
    margin: 0 1.2rem;
}